@model Foodsharing.Models.HomeViewModel
<section class="section first-section">
    <div class="container-fluid">
        <div class="masonry-blog clearfix">
            @foreach (Foodsharing.Models.MainImageContent item in Model.MainImage)
            {
                <div class="left-side">
                    <div class="masonry-box post-media">
                        <img src="/upload/@item.Image" alt="" class="img-fluid">
                        <div class="shadoweffect">
                            <div class="shadow-desc">
                                <div class="blog-meta">
                                    <span class="bg-aqua"><a href="blog-category-01.html" title="">@item.Type</a></span>
                                    <h4><a href="garden-single.html" title="">@item.Title</a></h4>
                                    <small><a href="garden-single.html" title="">@item.Date.ToString("d MMM yyyy")</a></small>
                                    <small><a href="#" title="">@item.Autor</a></small>
                                </div><!-- end meta -->
                            </div><!-- end shadow-desc -->
                        </div><!-- end shadow -->
                    </div><!-- end post-media -->
                </div><!-- end left-side -->
            }
            </div>
        </div>
</section>
<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    @{
                        Html.RenderPartial("~/Views/Shared/_Product.cshtml", Model.TopProduct);
                    }
                </div><!-- end page-wrapper -->
            </div><!-- end col -->
            @*@{
                Html.RenderPartial("~/Views/Shared/_Widget.cshtml");
            }*@
        </div><!-- end row -->
    </div><!-- end container -->
</section>