@model Foodsharing.Models.ProductViewModel
<div class="page-title wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2><i class="fa fa-leaf bg-green"></i> Sort Products by: </h2>
            </div><!-- end col -->
            <form action="/Home/Product" method="get"  class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                <ol class="breadcrumb">
                    @if (ViewBag.NameSort == "name_asc")
                    {
                        <li class="breadcrumb-item"><a href="@Url.Action("Product", "Home", new { sortOrder = "" })">Name</a></li>
                    }
                    else
                    {
                        <li class="breadcrumb-item"><a href="@Url.Action("Product", "Home", new { sortOrder = "name_desc" })">Name</a></li>
                    }
                    @if (ViewBag.DateSort == "date_desc")
                    {
                        <li class="breadcrumb-item"><a href="@Url.Action("Product", "Home", new { sortOrder = "date_desc" })">Expiration Date</a></li>
                    }
                    else
                    {
                        <li class="breadcrumb-item"><a href="@Url.Action("Product", "Home", new { sortOrder = "date_asc" })">Expiration Date</a></li>
                    }

                </ol>
</form><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end page-title -->

<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
   
                <div class="page-wrapper">
                    @{
                        Html.RenderPartial("~/Views/Shared/_Product.cshtml", Model.Product);
                    }
                </div> @*end page-wrapper*@
          

                <hr class="invis">
                @*@Model.MaxProduct*@
                <div class="row">
                    <div class="col-md-12">
                        <!--/pagination-->

                        @{
                            Html.RenderPartial("~/Views/Shared/_Pagination.cshtml", new ViewDataDictionary { { "MaxPage", Model.MaxPage } });
                        }
                        <!--//pagination-->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->
            @{
                Html.RenderPartial("~/Views/Shared/_Widget.cshtml");
            }
        </div><!-- end row -->
    </div><!-- end container -->
</section>
