
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My account</h2>
<p>@Session["MessageInfo"]</p>

<div>
    @Html.ActionLink("Donate your product", "DonateProduct", "Home")
    <a href="/Home/Index"><div class="cnt"><i class="contact">log out</i><i class="contact1"></i></div></a>
</div>
<div>Nom</div>
<div>Nom</div>
<div>Nom</div>
<div>Nom</div>
<div>Nom</div>
<div>Nom</div>